<!DOCTYPE html>

<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/spinner.ejs') %>

    <div class="english">

        <%- include('partials/nav.ejs') %>


        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center py-5">
                <h1 class="display-3 text-white mb-4 animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="row g-2">
                            <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                                <div class="about-experience bg-secondary rounded">
                                    <h1 class="display-1 mb-0">20</h1>
                                    <small class="fs-5 fw-bold">Years Experience</small>
                                </div>
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded" src="img/service-1.jpg">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                                <img class="img-fluid rounded" src="img/service-2.jpg">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                                <img class="img-fluid rounded" src="img/service-3.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                        <h1 class="mb-4">Know About Our Services & Our Dairy Products</h1>
                        <p class="mb-4">As the official agent of New Zealand’s top dairy brand, Westland Milk Products, in Vietnam, we are committed to bringing you premium dairy products sourced from the purest natural environments. We offer a wide range of high-quality products, including milk powder, butter, whey, and cheese, to meet the nutritional needs of you and your family.</p>
                        <div class="row g-5 pt-2 mb-5">
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/service.png" alt="">
                                <h5 class="mb-3">Dedicated Services</h5>
                                <span>Specialized, tailored services designed to meet specific needs or requirements</span>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/product.png" alt="">
                                <h5 class="mb-3">Organic Products</h5>
                                <span>Produced using methods that comply with organic farming standards</span>
                            </div>
                        </div>
                        <a class="btn btn-secondary rounded-pill py-3 px-5" href="about.html">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Banner Start -->
        <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="img/banner.jpg">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/banner-1.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">We Sell Best Dairy Products</h2>
                                <p class="text-white mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/banner-2.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">We Deliver Fresh Mild Worldwide</h2>
                                <p class="text-white mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->


        <%- include('partials/footer.ejs') %>


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

    </div>

    <div class="chinese" style="display: none;">

        <%- include('partials/nav-zh.ejs') %>

         <!-- 页眉开始 -->
        <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center py-5">
                <h1 class="display-3 text-white mb-4 animated slideInDown">关于我们</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="#">主页</a></li>
                        <li class="breadcrumb-item"><a href="#">页面</a></li>
                        <li class="breadcrumb-item active" aria-current="page">关于</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- 页眉结束 -->

        <!-- 关于我们开始 -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="row g-2">
                            <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                                <div class="about-experience bg-secondary rounded">
                                    <h1 class="display-1 mb-0">20</h1>
                                    <small class="fs-5 fw-bold">年经验</small>
                                </div>
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded" src="img/service-1.jpg">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                                <img class="img-fluid rounded" src="img/service-2.jpg">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                                <img class="img-fluid rounded" src="img/service-3.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <p class="section-title bg-white text-start text-primary pe-3">关于我们</p>
                        <h1 class="mb-4">了解我们的服务和乳制品</h1>
                        <p class="mb-4">伊通有限公司代理紐西蘭威士蘭乳品於台灣銷售，主要產品為全脂奶粉、脫脂奶粉、濃縮乳清蛋白粉、無鹽奶油、無水奶油等乳製品
                            <br>威士蘭乳業公司於1937年在紐西蘭西海岸的腹地成立，擁有400家合作酪農戶，是紐西蘭第二大乳品公司
                        </p>
                        <div class="row g-5 pt-2 mb-5">
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/service.png" alt="">
                                <h5 class="mb-3">专注服务</h5>
                                <span>为满足特定需求或要求而设计的专业定制服务</span>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/product.png" alt="">
                                <h5 class="mb-3">有机产品</h5>
                                <span>采用符合有机农业标准的方法生产</span>
                            </div>
                        </div>
                        <a class="btn btn-secondary rounded-pill py-3 px-5" href="about.html">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 关于我们结束 -->

        <!-- 横幅开始 -->
        <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="img/banner.jpg">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/banner-1.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">我们销售最好的乳制品</h2>
                                <p class="text-white mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">阅读更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/banner-2.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">我们在全球范围内提供新鲜牛奶</h2>
                                <p class="text-white mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">阅读更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 横幅结束 -->

        <%- include('partials/footer-zh.ejs') %>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>

    </div>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/lang.js"></script>
</body>

</html>