<!DOCTYPE html>

<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/spinner.ejs') %>

    <div class="english">
        <%- include('partials/nav.ejs') %>
      
            <!-- Carousel Start -->
            <div class="container-fluid px-0 mb-5">
                <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="w-100" src="img/carousel-1.jpg" alt="Image">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-lg-8 text-start">
                                            <p class="fs-4 text-white">Welcome to our website</p>
                                            <h1 class="display-1 text-white mb-5 animated slideInRight">New Zealand Product Distributor</h1>
                                            <a href="service" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="w-100" src="img/carousel-2.jpg" alt="Image">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-end">
                                        <div class="col-lg-8 text-end">
                                            <p class="fs-4 text-white">Welcome to our website</p>
                                            <h1 class="display-1 text-white mb-5 animated slideInRight">Best Natural Dairy Products</h1>
                                            <a href="product" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInLeft">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>            
            <!-- Carousel End -->
      
            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-end">
                        <div class="col-lg-6">
                            <div class="row g-2">
                                <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                                    <div class="about-experience bg-secondary rounded">
                                        <h1 class="display-1 mb-0">20</h1>
                                        <small class="fs-5 fw-bold">Years Experience</small>
                                    </div>
                                </div>
                                <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                    <img class="img-fluid rounded" src="img/service-1.jpg">
                                </div>
                                <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                                    <img class="img-fluid rounded" src="img/service-2.jpg">
                                </div>
                                <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                                    <img class="img-fluid rounded" src="img/service-3.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                            <h1 class="mb-4">Know About Our Services & Our Dairy Products</h1>
                            <div class="row g-5 pt-2 mb-5">
                                <div class="col-sm-6">
                                    <img class="img-fluid mb-4" src="img/service.png" alt="">
                                    <h5 class="mb-3">Dedicated Services</h5>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-fluid mb-4" src="img/product.png" alt="">
                                    <h5 class="mb-3">Organic Products</h5>
                                </div>
                            </div>
                            <a class="btn btn-secondary rounded-pill py-3 px-5" href="about">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
    
            <!-- Banner Start -->
            <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="img/banner.jpg">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="row g-4 align-items-center">
                                <div class="col-sm-4">
                                    <img class="img-fluid rounded" src="img/collection-1.jpg" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h2 class="text-white mb-3">We Sell Best Dairy Products</h2>
                                    <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="row g-4 align-items-center">
                                <div class="col-sm-4">
                                    <img class="img-fluid rounded" src="img/collection-2.jpg" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h2 class="text-white mb-3">We Deliver Fresh Milk Worldwide</h2>
                                    <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
    
            <!-- Features Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <p class="section-title bg-white text-start text-primary pe-3">Why Us!</p>
                            <h1 class="mb-4">Few Reasons Why People Choosing Us!</h1>
                            <p><i class="fa fa-check text-primary me-3"></i>Pure and Natural</p>
                            <p><i class="fa fa-check text-primary me-3"></i>International Certification</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Family Nutrition</p>
                            <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="service">Explore More</a>
                        </div>

                        <div class="col-lg-6">
                            <div class="rounded overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                        <div class="text-center bg-primary py-5 px-4">
                                            <img class="img-fluid mb-4" src="img/experience.png" alt="">
                                            <h1 class="display-6 text-white" data-toggle="counter-up">25</h1>
                                            <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                        <div class="text-center bg-secondary py-5 px-4">
                                            <img class="img-fluid mb-4" src="img/award.png" alt="">
                                            <h1 class="display-6" data-toggle="counter-up">183</h1>
                                            <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                        <div class="text-center bg-secondary py-5 px-4">
                                            <img class="img-fluid mb-4" src="img/animal.png" alt="">
                                            <h1 class="display-6" data-toggle="counter-up">2619</h1>
                                            <span class="fs-5 fw-semi-bold text-primary">Total Animals</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                        <div class="text-center bg-primary py-5 px-4">
                                            <img class="img-fluid mb-4" src="img/client.png" alt="">
                                            <h1 class="display-6 text-white" data-toggle="counter-up">51940</h1>
                                            <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features End -->
    
    
            <!-- Gallery Start -->
            <div class="container-xxl py-5 px-0">
                <div class="row g-0">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row g-0">
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-5.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-5.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-1.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="row g-0">
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-2.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-6.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-6.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row g-0">
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-7.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-7.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-3.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="row g-0">
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-4.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-4.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="d-block" href="img/gallery-8.jpg" data-lightbox="gallery">
                                    <img class="img-fluid" src="img/gallery-8.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Gallery End -->
    
    
            <!-- Product Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <p class="section-title bg-white text-center text-primary px-3">Our Products</p>
                        <h1 class="mb-5">Our Dairy Products For Healthy Living</h1>
                    </div>
    
                    <a class="btn btn-secondary rounded-pill py-3 px-5 mt-5 d-flex " href="product">Explore More</a>
                </div>
            </div>
            <!-- Product End -->
    
            <%- include('partials/footer.ejs') %>
    
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
            
    </div>

    <div class="chinese" style="display: none;">

        <%- include('partials/nav-zh.ejs') %>

        <!-- Carousel Start -->
        <div class="container-fluid px-0 mb-5">
            <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="img/carousel-1.jpg" alt="Image">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-lg-8 text-start">
                                        <p class="fs-4 text-white">欢迎来到我们的网站</p>
                                        <h1 class="display-1 text-white mb-5 animated slideInRight">紐西蘭产品代理商</h1>
                                        <a href="service" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight">了解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="img/carousel-2.jpg" alt="Image">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-end">
                                    <div class="col-lg-8 text-end">
                                        <p class="fs-4 text-white">欢迎来到我们的网站</p>
                                        <h1 class="display-1 text-white mb-5 animated slideInRight">最佳天然乳制品</h1>
                                        <a href="product" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInLeft">了解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel End -->

        <!-- 关于开始 -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="row g-2">
                            <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                                <div class="about-experience bg-secondary rounded">
                                    <h1 class="display-1 mb-0">20</h1>
                                    <small class="fs-5 fw-bold">年经验</small>
                                </div>
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded" src="img/service-1.jpg" alt="服务图片1">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                                <img class="img-fluid rounded" src="img/service-2.jpg" alt="服务图片2">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                                <img class="img-fluid rounded" src="img/service-3.jpg" alt="服务图片3">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <p class="section-title bg-white text-start text-primary pe-3">关于我们</p>
                        <h1 class="mb-4">了解我们的服务和乳制品</h1>
                        <div class="row g-5 pt-2 mb-5">
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/service.png" alt="">
                                <h5 class="mb-3">专注服务</h5>
                                <span>提供進口服務，價格合理</span>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/product.png" alt="">
                                <h5 class="mb-3">天然产品</h5>
                                <span>來自紐西蘭二大供應商，提供天然乳制品，健康生活</span>
                            </div>
                        </div>
                        <a class="btn btn-secondary rounded-pill py-3 px-5" href="about">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 关于结束 -->

        <!-- 横幅开始 -->
        <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="img/banner.jpg">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/collection-1.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">我们销售最好的乳制品</h2>
                                <p class="text-white mb-4">匯集世界各地的乳製品，與各大品牌合作</p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">了解更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/collection-2.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">我们向大家提供多樣化的產品</h2>
                                <p class="text-white mb-4">目前本公司具有奶粉、奶油、調味劑等系列產品</p>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">了解更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 横幅结束 -->

        <!-- 特点开始 -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title bg-white text-start text-primary pe-3">为什么选择我们！</p>
                        <h1 class="mb-4">人们选择我们的几个理由！</h1>
                        <p><i class="fa fa-check text-primary me-3"></i>纯天然</p>
                        <p><i class="fa fa-check text-primary me-3"></i>国际认证</p>
                        <p><i class="fa fa-check text-primary me-3"></i>家庭营养</p>
                        <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="service">了解更多</a>
                    </div>

                    <div class="col-lg-6">
                        <div class="rounded overflow-hidden">
                            <div class="row g-0">
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="text-center bg-primary py-5 px-4">
                                        <img class="img-fluid mb-4" src="img/experience.png" alt="">
                                        <h1 class="display-6 text-white" data-toggle="counter-up">25</h1>
                                        <span class="fs-5 fw-semi-bold text-secondary">年经验</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="text-center bg-secondary py-5 px-4">
                                        <img class="img-fluid mb-4" src="img/award.png" alt="">
                                        <h1 class="display-6" data-toggle="counter-up">183</h1>
                                        <span class="fs-5 fw-semi-bold text-primary">获奖</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="text-center bg-secondary py-5 px-4">
                                        <img class="img-fluid mb-4" src="img/animal.png" alt="">
                                        <h1 class="display-6" data-toggle="counter-up">2619</h1>
                                        <span class="fs-5 fw-semi-bold text-primary">总动物数</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="text-center bg-primary py-5 px-4">
                                        <img class="img-fluid mb-4" src="img/client.png" alt="">
                                        <h1 class="display-6 text-white" data-toggle="counter-up">51940</h1>
                                        <span class="fs-5 fw-semi-bold text-secondary">满意客户</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 特点结束 -->


        <!-- 画廊开始 -->
        <div class="container-xxl py-5 px-0">
            <div class="row g-0">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-5.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-5.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-1.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-2.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-6.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-7.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-7.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-3.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-4.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-8.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-8.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 画廊结束 -->

        <!-- 产品开始 -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="section-title bg-white text-center text-primary px-3">我们的产品</p>
                    <h1 class="mb-5">我们的乳制品，健康生活的选择</h1>
                </div>

                <a class="btn btn-secondary rounded-pill py-3 px-5 mt-5 d-flex" href="product">了解更多</a>
            </div>
        </div>
        <!-- 产品结束 -->

        <%- include('partials/footer-zh.ejs') %>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>

    </div>

    <div class="vietnamese" style="display: none;">
        <%- include('partials/nav-vi.ejs') %>

        <!-- 轮播图开始 -->
        <div class="container-fluid px-0 mb-5">
            <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="img/carousel-1.jpg" alt="Hình ảnh">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-lg-8 text-start">
                                        <p class="fs-4 text-white">Chào mừng bạn đến với trang web của chúng tôi</p>
                                        <h1 class="display-1 text-white mb-5 animated slideInRight">Đại lý sản phẩm từ New Zealand</h1>
                                        <a href="about" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight">Tìm hiểu thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="img/carousel-2.jpg" alt="Hình ảnh">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-end">
                                    <div class="col-lg-8 text-end">
                                        <p class="fs-4 text-white">Chào mừng bạn đến với trang web của chúng tôi</p>
                                        <h1 class="display-1 text-white mb-5 animated slideInRight">Sản phẩm từ sữa tự nhiên tốt nhất</h1>
                                        <a href="product" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInLeft">Tìm hiểu thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="row g-2">
                            <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                                <div class="about-experience bg-secondary rounded">
                                    <h1 class="display-1 mb-0">20</h1>
                                    <small class="fs-5 fw-bold">Năm kinh nghiệm</small>
                                </div>
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded" src="img/service-1.jpg" alt="Hình ảnh">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                                <img class="img-fluid rounded" src="img/service-2.jpg" alt="Hình ảnh">
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                                <img class="img-fluid rounded" src="img/service-3.jpg" alt="Hình ảnh">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <p class="section-title bg-white text-start text-primary pe-3">Về Chúng Tôi</p>
                        <h1 class="mb-4">Tìm hiểu về dịch vụ và sản phẩm từ sữa của chúng tôi</h1>
                        <div class="row g-5 pt-2 mb-5">
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/service.png" alt="Hình ảnh">
                                <h5 class="mb-3">Dịch vụ tập trung</h5>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mb-4" src="img/product.png" alt="Hình ảnh">
                                <h5 class="mb-3">Sản phẩm tự nhiên</h5>
                            </div>
                        </div>
                        <a class="btn btn-secondary rounded-pill py-3 px-5" href="about">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="img/banner.jpg">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/collection-1.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">Chúng tôi bán các sản phẩm từ sữa tốt nhất</h2>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid rounded" src="img/collection-2.jpg" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="text-white mb-3">Chúng tôi cung cấp sữa tươi trên toàn cầu</h2>
                                <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title bg-white text-start text-primary pe-3">Tại sao chọn chúng tôi!</p>
                        <h1 class="mb-4">Một vài lý do để chọn chúng tôi!</h1>
                        <p><i class="fa fa-check text-primary me-3"></i>100% tự nhiên</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Chứng nhận quốc tế</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Dinh dưỡng cho gia đình</p>
                        <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="service">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xxl py-5 px-0">
            <div class="row g-0">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-5.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-5.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-1.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-2.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-6.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-7.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-7.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-3.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="row g-0">
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-4.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="d-block" href="img/gallery-8.jpg" data-lightbox="gallery">
                                <img class="img-fluid" src="img/gallery-8.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="section-title bg-white text-center text-primary px-3">Sản phẩm của chúng tôi</p>
                    <h1 class="mb-5">Sản phẩm từ sữa của chúng tôi, sự lựa chọn cho cuộc sống khỏe mạnh</h1>
                </div>
        
                <a class="btn btn-secondary rounded-pill py-3 px-5 mt-5 d-flex" href="product">Tìm hiểu thêm</a>
            </div>
        </div>
        
        <%- include('partials/footer-vi.ejs') %>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>

    </div>
  
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/lang.js"></script>
</body>

</html>