<!DOCTYPE html>

<%- include('partials/header.ejs') %>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row g-0 d-none d-lg-flex">
            <div class="col-lg-6 ps-5 text-start">
                <div class="h-100 d-inline-flex align-items-center text-light">
                    <span>Follow Us:</span>
                    <a class="btn btn-link text-light" href="https://line.me/ti/p/~czlmn0324"><i class="fab fa-line"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="h-100 bg-secondary d-inline-flex align-items-center text-dark py-2 px-4">
                    <span class="me-2 fw-semi-bold"><i class="fa fa-phone-alt me-2"></i>Call Us:</span>
                    <span>+886 912 003 885</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Language Selection Dropdown -->
    <div class="container-fluid py-2">
        <div class="d-flex justify-content-end align-items-center">
            <label for="language-select" class="form-label me-2 mb-0">Select Language:</label>
            <select id="language-select" class="form-select language-dropdown">
                <option value="zh-Hant">Chinese</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>

    <div class="english">
        
        <%- include('partials/nav.ejs') %>

            <!-- 
            - #HERO
            -->

            <section class="section hero" id="home" aria-label="hero" data-section>
                <div class="container1">

                <ul class="has-scrollbar">

                    <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('img/banner.jpg')">

                        <div class="card-content">

                        <h1 class="hero-title">
                            乳製粉系列<br>
                        </h1>

                        <p class="hero-text">
                            為了健康生活，我們的產品為每個人而設計
                        </p>

                        <a href="#powder" class="btn btn-primary">Shop Now</a>

                        </div>

                    </div>
                    </li>

                    <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('img/banner-1.png')">

                        <div class="card-content">

                        <h1 class="hero-title">
                            黃油系列<br>
                        </h1>

                        <p class="hero-text">
                            純乳脂製成，我們的產品為每個人而設計
                        </p>

                        <a href="#butter" class="btn btn-primary">Shop Now</a>

                        </div>

                    </div>
                    </li>

                    <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('img/banner-2.jpg')">

                        <div class="card-content">

                        <h1 class="hero-title">
                            調味品系列<br>
                        </h1>

                        <p class="hero-text">
                            使用純淨原料製成的乳製風味劑，我們的產品為每個人而設計
                        </p>

                        <a href="#flavours" class="btn btn-primary">Shop Now</a>

                        </div>

                    </div>
                    </li>

                </ul>

                </div>
            </section>


            <!-- 
                - #COLLECTION
            -->

            <section class="section collection" id="collection" aria-label="collection" data-section>
                <div class="container">

                <ul class="collection-list">

                    <li>
                    <div class="collection-card has-before hover:shine">

                        <h2 class="h2 card-title">乳製粉系列</h2>

                        <p class="card-text">自然與健康<p>

                        <a href="#powder" class="btn-link">
                        <span class="span">Shop Now</span>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>

                        <div class="has-bg-image" style="background-image: url('img/collection-1.jpg')"></div>

                    </div>
                    </li>

                    <li>
                    <div class="collection-card has-before hover:shine">

                        <h2 class="h2 card-title">黃油系列</h2>

                        <p class="card-text">煥發光彩</p>

                        <a href="#butter" class="btn-link">
                        <span class="span">Discover Now</span>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>

                        <div class="has-bg-image" style="background-image: url('img/collection-2.jpg')"></div>

                    </div>
                    </li>

                    <li>
                    <div class="collection-card has-before hover:shine">

                        <h2 class="h2 card-title">調味品系列</h2>

                        <p class="card-text">調味風味</p>

                        <a href="#flavours" class="btn-link">
                        <span class="span">Discover Now</span>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>

                        <div class="has-bg-image" style="background-image: url('img/collection-3.jpg')"></div>

                    </div>
                    </li>

                </ul>

                </div>
            </section>


            <!-- 
                - #SHOP
            -->

            <section class="section shop" id="powder" aria-label="shop" data-section>
                <div class="container">

                    <div class="title-wrapper">
                        <h2 class="h2 section-title">乳製粉系列</h2>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>

                    <ul class="has-scrollbar">
                        <% Powder.forEach(function(product) { %>
                            <li class="scrollbar-item">
                                <div class="shop-card">
                                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                                        <img src="/img/<%= product.image %>" width="540" height="720" loading="lazy" alt="<%= product.name %>" class="img-cover">
                                        <div class="card-actions">
                                            <button class="action-btn" aria-label="add to cart">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                            <button class="action-btn" aria-label="add to whishlist">
                                                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                            <button class="action-btn" aria-label="compare">
                                                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3>
                                            <a href="/product-zh/<%= product.id %>" class="card-title"><%= product.brand %> <br> <%= product.name %></a>
                                        </h3>

                                        <div class="card-rating">

                                            <div class="rating-wrapper" aria-label="5 start rating">
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }); %>   
                    </ul>
                </div>
            </section>

            <section class="section shop" id="butter" aria-label="shop" data-section>
                <div class="container">

                    <div class="title-wrapper">
                        <h2 class="h2 section-title">黃油系列</h2>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>

                    <ul class="has-scrollbar">
                        <% Butter.forEach(function(product) { %>
                            <li class="scrollbar-item">
                                <div class="shop-card">
                                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                                        <img src="/img/<%= product.image %>" width="540" height="720" loading="lazy" alt="<%= product.name %>" class="img-cover">
                                        <div class="card-actions">
                                            <button class="action-btn" aria-label="add to cart">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                            <button class="action-btn" aria-label="add to whishlist">
                                                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                            <button class="action-btn" aria-label="compare">
                                                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3>
                                            <a href="/product-zh/<%= product.id %>" class="card-title"><%= product.brand %> <br> <%= product.name %></a>
                                        </h3>

                                        <div class="card-rating">

                                            <div class="rating-wrapper" aria-label="5 start rating">
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }); %>   
                    </ul>
                </div>
            </section>

            <section class="section shop" id="flavours" aria-label="shop" data-section>
                <div class="container">

                    <div class="title-wrapper">
                        <h2 class="h2 section-title">調味品系列</h2>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>

                    <ul class="has-scrollbar">
                        <% Flavours.forEach(function(product) { %>
                            <li class="scrollbar-item">
                                <div class="shop-card">
                                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                                        <img src="/img/<%= product.image %>" width="540" height="720" loading="lazy" alt="<%= product.name %>" class="img-cover">
                                        <div class="card-actions">
                                            <button class="action-btn" aria-label="add to cart">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                            <button class="action-btn" aria-label="add to whishlist">
                                                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                            <button class="action-btn" aria-label="compare">
                                                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3>
                                            <a href="/product-zh/<%= product.id %>" class="card-title"><%= product.brand %> <br> <%= product.name %></a>
                                        </h3>

                                        <div class="card-rating">

                                            <div class="rating-wrapper" aria-label="5 start rating">
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }); %>   
                    </ul>
                </div>
            </section>

    <!-- 
    - #BANNER
    -->

      <section class="section banner" aria-label="banner" data-section>
        <div class="container">

          <ul class="banner-list">

            <li>
              <div class="banner-card banner-card-1 has-before hover:shine">

                <p class="card-subtitle">新資訊</p>

                <h2 class="h2 card-title">了解更多關於我們</h2>

                <a href="#" class="btn btn-secondary">探索更多</a>

                <div class="has-bg-image" style="background-image: url('/img/banner.jpg')"></div>

              </div>
            </li>

            <li>
              <div class="banner-card banner-card-2 has-before hover:shine">

                <h2 class="h2 card-title">聯絡我們</h2>

                <p class="card-text">
                    與我們聯繫
                </p>

                <a href="#" class="btn btn-secondary">探索更多</a>

                <div class="has-bg-image" style="background-image: url('/img/banner-2.jpg')"></div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #FEATURE
      -->

      <section class="section feature" aria-label="feature" data-section>
        <div class="container">

          <h2 class="h2-large section-title">為什麼選擇Etong？</h2>

          <ul class="flex-list">

            <li class="flex-item">
              <div class="feature-card">

                <img src="/img/feature-1.jpg" width="204" height="236" loading="lazy" alt="Guaranteed PURE"
                  class="card-icon">

                <h3 class="h3 card-title">保證純淨</h3>


              </div>
            </li>

            <li class="flex-item">
              <div class="feature-card">

                <img src="/img/feature-2.jpg" width="204" height="236" loading="lazy"
                  alt="Completely Cruelty-Free" class="card-icon">

                <h3 class="h3 card-title">高品質</h3>

              </div>
            </li>

            <li class="flex-item">
              <div class="feature-card">

                <img src="/img/feature-3.jpg" width="204" height="236" loading="lazy"
                  alt="Ingredient Sourcing" class="card-icon">

                <h3 class="h3 card-title">產品多樣</h3>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <%- include('partials/footer.ejs') %>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>
      document.getElementById('language-select').addEventListener('change', function() {
        const selectedLang = this.value;
        if (selectedLang === 'zh-Hant') {
          window.location.href = '/product-zh';
        } else if (selectedLang === 'en') {
          window.location.href = '/product';
        }
      });

    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>